<h1>Cards#index</h1>

<%= link_to "New card", new_card_path if authenticated? %>

<div id="cards">
  <% @cards.each do |card| %>
    <div>
      <%= link_to card.name, card %>
      <%= card.supertype %>
      <%= card.hp %>
    </div>
  <% end %>
</div>
